/* CSS Document */

body {
    background-color: #EEF0F3;
    color: #616161;
}

* {
    padding: 0px;
    margin: 0px;
}

.resume_main {
    width: 80%;
    margin: 1% auto;
}

.left {
    float: left;
    position: fixed;
    width: 24%;
    height: 75%;
    background-color: rgba(204, 204, 204, 0.7);
    margin-left: ;
    text-align: center;
    -moz-border-radius: 5%;
         border-radius: 5%;
}

.head_portrait_img {
    margin: 10% auto;
    width: 70%;
    width: 70%;
    -moz-border-radius: 70%;
         border-radius: 70%;
}

.resume_body {
    float: right;
    width: 62%;
    
    background-color: ;
    margin: auto;
}

.head {
    background-color: rgba(182, 182, 182, 0.7);

    width: 80%;
    line-height: 40px;
    height: 40px;
    font-size: 200%;
    text-align: center;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #F1F6FB
}

.head_model {
    margin-top: 40px;
    width: 80%  ;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.7);
    -moz-border-radius: 7px;
    border-radius: 7px;
}



.smail_title {
    border-bottom: 1px solid #575757;
    font-size: 20px;
    color: #807A5D;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
}

.smail_title_1 {
    color: #131313
}

.link_a {
    border: 1px solid;
    -moz-border-radius: 10px;
         border-radius: 10px;
    color: #807A5D;
    font-size: 10px;
    text-decoration: none
}