/* CSS Document */
/* body{background-color:RGBA(228,231,235,0.6)} */

.b{width:10px;height:10px;background-color:#FCF;}

.black{width:10px;height:10px;background-color:#000;}

.food{width:10px;height:10px;background-color:#f00;}

/* #no1{height:488px;width:488px;margin:0 auto;background-color:#CCC;}
 
 #no2{height:50px;width:488px;margin:0 auto;} */ */

