  .post-list-item {


    width: 96%;

    padding: 10px;
    margin: 1%;
}

.tabs {
    position: relative;
    height: 64px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}

.tabs .tab {
    line-height: 64px;
    height: 64px;
}

.tabs .indicator {

    background-color: #eeeeee;
}

.fate.out{
opacity: 0;
}

.out{
opacity: 0;
}

.fate{
   transition: all 1500ms linear 700ms;
  opacity: 1;
}

#footer-i{
    padding-top: 0px;
    position:fixed;
    bottom:-64px;
    width:100%;
    z-index: 14 
    -webkit-transition: all 2s cubic-bezier(0.1, 0.98, 0.99, 0.99);
    -moz-transition: all 2s cubic-bezier(0.1, 0.98, 0.99, 0.99);
    transition: all 2s cubic-bezier(0.1, 0.98, 0.99, 0.99);
}

#glcanvas{
    position: fixed;
    right: -15px;
    bottom: 0px;
    z-index: 18;
}